.panel-fetcher {
    width: 80%;
    margin: 20px auto;
}
.yt-fetcher-form #yt-username {
    width: 200px;
    margin: 20px 0;
}
.videos-list {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}
.videos-list > li {
    margin-bottom: 10px;
}
.videos-list > li:nth-child(odd) {
    background: #f7f7f7;
}
.videos-list > li:nth-child(even) {
    background: #ececec;
}
.video-title {
    line-height: 90px;
}
#load-more {
    display: none;
}